#cover.container.column
{
    background: yellow;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}

#footer
{
    animation: showIcon;   
    animation-duration: 2s;
    text-align: center;
}
#footer:hover
{
    cursor: pointer;
}



.container.row img
{
    height: 400px;
    width: 400px;
    border-radius: 50% 50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    animation: rotat;
    animation-duration: 1.7s;            
}

@keyframes rotat {
    0%{
        transform: rotateZ(360deg);
    }
}

@keyframes showWord {
    0%{
        
        visibility: hidden;
        transform: translateX(1000px);
    }
    
    1000%{
        
        visibility: visible;        
        transform: translateX(0px);
    }
    
}


@keyframes showIcon {
    0%{            
        transform: translateY(-1000px);
    }
    
    50%
    {
        transform: translateY(0px);
    }

    60%
    {
        transform: translateY(-50px);
        
    }

    

    70%
    {
        transform: translateY(0px);
    }

    80%
    {
        transform: translateY(-30px);
        
    }
    

    90%
    {
        transform: translateY(0px);
        transform: rotateZ(360deg);                
    }
    
}

#body.container.row {
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 40px;
}

#body.container.row h1
{
    margin-left: 40px;
    
    max-width: 800px;
    font-size: 55px;
    animation: showWord;
    animation-duration: 1.7s;
    
}
@media screen and (max-width: 1200px) {
    

}
@media screen and (max-width: 992px) { 
    #body.container.row
    {
        flex-direction: column;
        text-align: center;
    }

    #body.container.row h1
    {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 42px;
    }
    .container.row img
    {
        margin:0px;
        height: 300px;
        width: 300px;
    }
    
}


@media screen and (max-width: 768px) { 
    
}

@media screen and (max-width: 576px) { 
    
}




