#portada.container.row
{
    background: yellow;
    overflow: hidden;
    text-align: left;
    
}

.container.row img
{
    height: 400px;
    width: 400px;
    border-radius: 50% 50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    animation: rotat;
    animation-duration: 1.7s;            
}

@keyframes rotat {
    0%{
        transform: rotateZ(360deg);
    }
}

@keyframes showWord {
    0%{
        
        visibility: hidden;
        transform: translateX(1000px);
    }
    
    1000%{
        
        visibility: visible;        
        transform: translateX(0px);
    }

    
}

#portada.container.row {
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 80px;
}

#portada.container.row h1
{
    margin-left: 40px;
    
    max-width: 800px;
    font-size: 55px;
    animation: showWord;
    animation-duration: 1.7s;
    
}
@media screen and (max-width: 1200px) {
    

}
@media screen and (max-width: 992px) { 
    #portada.container.row
    {
        flex-direction: column;
        text-align: center;
    }

    #portada.container.row h1
    {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 42px;
    }
    .container.row img
    {
        margin:0px;
        height: 300px;
        width: 300px;
    }
    
}


@media screen and (max-width: 768px) { 
    
}

@media screen and (max-width: 576px) { 
    
}




