#gridProyects
{
    display: grid;

    grid-template-columns: repeat(9, 130px);    
    justify-content: center;
    
}




#gridProyects .item-1
{
    background: blue;
    grid-column: 5/10;
    
    
}

#gridProyects .item-2
{
    background: red;
    grid-column: 1/4;
    
}

#gridProyects .item-3
{
    grid-column: 7/10;
    background: green;
    
}

#gridProyects .item-4
{
    background: yellow;
    grid-column: 1/6;
    
    
}

