#imagenIlustra
{
    background: url(./../../../img/aboutMe.jpg);
    text-align: center;        
    
    background-position-y: center;
    background-position-x: center;
    
    
    background-size: cover;
    background-repeat: no-repeat;    
    
}


.child
{
    height: 900px;
    width: 900px;
}