header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    animation: showHeader;
    animation-duration: 1.7s;
    z-index: 1;
}

.items
{
    text-decoration: none;
    color: black;
}
@keyframes showHeader
{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}
header section, #logoHeader{
    padding-right: 40px;    
    padding-left: 40px;
    
    
}

#nav Link{
    text-decoration: none;
}
#nav li{
    
    margin: 30px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;      
    background: white;
    padding: 6px;
    border-radius: 5px;    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    
}

#nav li a 
{
    display: flex;
    margin-right: 15px;
    align-items: center;
}
#nav li:hover{
    cursor: pointer;
    
}
#nav{
    
    transform-origin: right;    
    transition: 0.2s;
    padding-right: 30px;
    transform: rotateY(90deg);
    
    

}

#logoMenu:hover{
    
    cursor: pointer;    

}

#logoMenu:hover #logoTop{
    
    transform: rotateZ(360deg);


}

#logoMenu:hover #logoBottom
{
    transform: rotateZ(360deg);
}
#logoHeader{
    width: 50px;
    height: 50px;      
    

}

#logoHeader:hover
{
    cursor: pointer;
    
}
#logoMenu p
{
    border-bottom: 1px;
    height: 1px;
    width: 30px;
    border-style:solid ;
    
    margin: 2px;
    transition: 0.2s;    
    position: absolute;        
    right: 1px;
}


#logoTop
{
    top: 50px;
    
}

#logoBottom
{
    top:60px;
    
}

#logoMenu 
{
    border: 0px;
    padding: 0px;
    display: flex;    
    width: 43px;
    flex-direction: column;    
    justify-content: center;           
    position: relative;
    right: 1px;        
    
    
}


@media screen and (max-width: 1320px) {
    #nav
    {
        position: fixed;
        background: white;
        top: 0;
        right: 0;
        height: 100%;
        margin-top: 0px;
        flex-direction: column;        
        padding-top: 50px;
    }
    header{
        padding-top: 10px;
        align-items: flex-start;
    }
    header section, #logoHeader{
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
    }

    #nav li{
        
        margin-left: 0px;
        margin-top: 20px;
        padding: 0px;
        margin-bottom: 20px;
        margin-right: 30px;
    }

    #logoTop
    {
        top: 20px;
    }

    #logoBottom
    {
        top:30px;
    }

    header{
        align-items: flex-start;
    }
        

    #logoMenu 
    {
        width: 43px;
        height: 90px;
    }
    


}
@media screen and (max-width: 992px) { 
   
  
    
}


@media screen and (max-width: 768px) { 
    
}

@media screen and (max-width: 576px) { 
    
}
