header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    animation: showHeader;
    animation-duration: 1.7s;
}

@keyframes showHeader
{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}
header section, img{
    padding-right: 40px;
    padding-left: 40px;
}


#nav li{
    margin: 30px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;      
    
    
}
#nav li:hover{
    cursor: pointer;
    
}
#nav{
    
    transform-origin: right;    
    transition: 0.2s;
    
    transform: rotateY(90deg);
    

}

#logoMenu:hover{
    
    cursor: pointer;
    


}
#logoHeader{
    width: 60px;
    height: 60px;      
    

}

#logoHeader:hover
{
    cursor: pointer;
}
#logoMenu p
{
    border-bottom: 1px;
    height: 1px;
    width: 30px;
    border-style:solid ;
    border-color: black;
    background: black;
    margin: 2px;
    transition: 0.2s;    
            
}





#logoMenu 
{
    border: 0px;
    padding: 0px;
    display: flex;    
    flex-direction: column;    
    justify-content: center;           
    
}


@media screen and (max-width: 1200px) {
    

}
@media screen and (max-width: 992px) { 
   
    #nav
    {
        position: fixed;
        background: white;
        top: 0;
        right: 0;
        height: 100%;
        margin-top: 0px;
        flex-direction: column;        
        padding-top: 50px;
    }
    header{
        padding-top: 10px;
    }
    header section, img{
        padding-right: 20px;
        padding-left: 20px;
    }
    
}


@media screen and (max-width: 768px) { 
    
}

@media screen and (max-width: 576px) { 
    
}
