body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-left{
  margin-left: 60px;
}

.text-rigth{
  margin-right: 60px;
}

.container{
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.center-x
{
  justify-content: center;
}

.center-y
{
  align-items: center;
}

.center
{
  align-items: center;
  justify-content: center;
}

.button
{
    
    outline: none;
    
    margin: 30px;
    border: 1px;    
    border-style: solid;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.offline
{
    background: var(--color-secondary);
    color: white;
    border-color:var(--color-secondary);

}

.outline{
    background: var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.capa{
  background: var(--color-secondary);
  width: 100%;    
  margin: 0px;
  padding: 0px;    
  height: 100%;        
}

:root{
  --color-secondary: rgb(53, 51, 51);
  --color-primary : yellow;
}